<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__ADMIN__/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__ADMIN__/js/jquery.js"></script>
    <script type="text/javascript">
    $(function() {
        //导航切换
        $(".menuson li").click(function() {
            $(".menuson li.active").removeClass("active")
            $(this).addClass("active");
        });

        $('.title').click(function() {
            var $ul = $(this).next('ul');
            $('dd').find('ul').slideUp();
            if ($ul.is(':visible')) {
                $(this).next('ul').slideUp();
            } else {
                $(this).next('ul').slideDown();
            }
        });
    })
    </script>
</head>

<body style="background:#f0f9fd;">
    <div class="lefttop"><span></span>※ MENU ※</div>
    <dl class="leftmenu">
        <volist name='top' id='vol'>
        <dd>
            <div class="title">
                <span><img src="__ADMIN__/images/leftico01.png" /></span>{$vol.auth_name}
            </div>
            <ul class="menuson">
            <volist name='cate' id='vo'>
                <if condition='$vo.auth_pid == $vol.auth_id '>
                <li <if condition='$key == 0'>class="active"</if>>
                    <cite></cite><a href="__MODULE__/{$vo.auth_c}/{$vo.auth_a}" target="rightFrame">{$vo.auth_name}</a><i></i></li>
                </if>
            </volist>
            </ul>
        </dd>
        </volist>
    </dl>
</body>

</html>
