<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__ADMIN__/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__ADMIN__/js/jquery.js"></script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle"><span>基本信息【<a href="{:U('showList')}">返回</a>】</span></div>
        <form action="{:U('saveAuth')}" method="post">
            <span style="font-size: 16px">您正在给【<label style="color: red;font-weight: bolder;">{$info.role_name}</label>】设置权限</span>
            <ul class="forminfo">
                <input type="hidden" name="role_id" value="{$Think.get.role_id}"/>
                <table class="tablelist">
                    <thead>
                        <tr>
                            <th>权限分类</th>
                            <th>权限</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name='top' id='vol'>
                            <tr>
                                <td>
                                    <input type="checkbox" name="auth_ids[]" value="{$vol.auth_id}" <in name='vol.auth_id' value='$info.role_auth_ids'>checked="checked"</in>>{$vol.auth_name}
                                </td>
                                <td>
                                    <volist name='cate' id='vo'>
                                    <if condition='$vo.auth_pid == $vol.auth_id '>
                                    <input type="checkbox" name="auth_ids[]" value="{$vo.auth_id}" <in name='vo.auth_id' value='$info.role_auth_ids'>checked="checked"</in>>
                                    {$vo.auth_name}&emsp;
                                    </if>
                                    </volist>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
                <br/>
                <li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="button" class="btn" value="确认保存" />
                </li>
            </ul>
        </form>
    </div>
</body>
<script type="text/javascript">
//jQuery代码
$(function(){
    //给btnsubmit绑定点击事件
    $('#btnSubmit').on('click',function(){
        //表单提交
        $('form').submit();
    })
});
</script>
</html>
